<!doctype html>
<html>
<head>
<title>My Homepage</title>
</head>
<body>

<body bgcolor="#E6E6FA">

<header>
<img src="http://bdarbog.it.pointpark.edu/homepage/selfie.jpg" style="width:250px;">
<p>Brandon Arbogast</p>

<nav>
      <ul>
        <li class="nav"><a href="/"> Home </a></li>
        <li class="nav"><a href="about"> About </a></li>
        <li class="nav"><a href="datetime"> Datetime </a></li>
      </ul>
    </nav>


<header>

{{{body}}}
<footer>
<p>Copyright Brandon</p>
</footer> 

</body>
</html>
